.App {
  text-align: left;
}

.landing {
  position: relative;
  background: url('./img/LandingImage_Updated.gif') no-repeat;
  background-size: 50%;
  width: 100%;
  height: 600px;
  margin-top: -24px;
  margin-bottom: -49px;
}

.dark-overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 200px;
  height: 100px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.display-3 {
  color:rgb(193, 153, 212);
  font-weight: bold;
  margin-top: 40px;
  margin-left:65%;
}

.lead{
  color:rgb(236, 196, 18);
  margin-left:65%;
  font-weight: inherit;
}

.btn .btn-lg{
  margin-left:100%;
  margin-top:10px;
  color:rgb(193, 153, 212);
}

.btn{
  float: right;
  margin-top: 50px;
  width: 150px;
  margin-right: 25px;
}

.btn-info{
background-color:rgb(193, 153, 212);
border-color:transparent;
}

#mobile-nav a{
color: rgb(236, 196, 18);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-info:hover{
    color: #fff;
    background-color:rgb(178, 84, 221);
    border-color:rgb(193, 153, 212);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color:rgb(193, 153, 212);
  border-color:rgb(193, 153, 212);
}

.col-lg-1 {
  width:100%;
}

.container {
  width:100%; 
}

.btn-light{
  background-color: rgb(236, 196, 18);
}

.navbar-dark .navbar-brand {
  color:rgb(193, 153, 212);
}