.App {
  text-align: center;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/LandingImage5.jpg') no-repeat; 
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.display-3 {
  color: rgb(243, 104, 127);
  font-weight: bold;
  margin-top: 5px;
  margin-left: 65%;
}

.lead{
  color:rgb(243, 104, 127); 
  margin-left:60%;
}

.btn .btn-lg{
  margin-left:100%;
  margin-top:10px;
  color:rgb(243, 104, 127);
}

.btn{
  float: right;
  margin-top: 50px;
  width: 150px;
}

.btn-info{
/* background-color:rgb(243, 104, 127); */
background-color:rgb(94, 86, 87);
border-color: transparent;
}

.nav-link{
color:white;
}


element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-info:hover{
    color: #fff;
    background-color:rgb(230, 75, 96);
    border-color:rgb(230, 75, 96);
}



.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color:rgb(230, 75, 96);
  border-color:rgb(230, 75, 96); 
}
